<br />
<div class="container">
    <br />
    <div>
        <div class="card">
            <div class="card-header bg-info">
                <h4 class="pull-left">Add Money</h4>
            </div>



            <div class="card-body">
                <br />
                <form>

                    <div class="form-group row has-danger">
                        <label for="inputHorizontalDnger" class="col-sm-2 col-form-label"> Enter Amount</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control form-control-danger" data-ng-model="Amount" id="inputHorizontalDnger" placeholder="Add Amount">
                            <!--<div class="form-control-feedback">Amount Is Required</div>-->
                        </div>
                    </div>
                    <br />
                    <div class="form-group">
                        <div class="control text-center">
                            <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%">
                                <button type="button" class="btn btn-info" data-ng-click="AddMoney(Amount)"> Submit </button>
                            </div>
                        </div>
                    </div>


                </form>



            </div>
        </div>
    </div>
</div>